<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Musée du louvres - {% block title %}{% endblock %}</title>
        {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        </div>

    </body>
</html>
