<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Musée du louvres - {% block title %}{% endblock %}</title>
        {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
        <link rel="stylesheet" href="https://checkout.stripe.com/v3/checkout/button.css"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="{{ asset('js/app.js') }}" type="text/javascript"></script>
        {% endblock %}
        </div>
        <div class="main-footer text-center text-uppercase">
            <div class="col-xs-12">
                &copy; 2017 - Musée du Louvre - Tous droits réservés
            </div>
            <div class="row">
            </div>
        </div>

    </body>
</html>
