<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Bonjour {{ sender }}</h1>
        <p>Nous vous confirmons la réception de votre demande, nous vous répondre dans les plus brefs délais</p>
        <p>Bonne journée à vous.</p>
    </body>
</html>